# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env/

# Distribution/packaging
dist/
build/
*.egg-info/

# ZIP files
*.zip

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
results/

# Large model files
bug_detector_model/model.safetensors
